body
{
    height:100vh;
    display:flex;
    justify-content: center;
    align-content: center;
}

.calc-container
{
    width:600px;
}

.oper-container
{
    width: fit-content;
}

button
{
    width: 100%;
}